<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Parrot Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/moment.min.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <div id="grid">
        <header>
            <div id="icon"><a href="/"><img src="img/logo.gif" /></a></div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/user">Profile</a></li>
                </ul>
            </nav>
        </header>
        <div id="profile" class="profile-feed">
            <h2>Profile</h2>
        </div>
        <aside>
            <h2>Text</h2>
        </aside>
        <main class="main-feed">
            <div class="post">
                <form method="POST" action="/api/posts">
                    <input type="text" name="message" placeholder="New Post" maxlength="140" required>
                    <button name="add-post">+</button>
                </form>
            </div>
            <div class="all-posts">
            </div>
        </main>
    </div>
</body>

</html>