<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Parrot Network - Reigster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <link rel="manifest" href="/manifest.json">
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/moment.min.js"></script>
    <script src="script.js"></script>
</head>

<body class="full-height">
    <div class="valign">
        <img src="img/logo.gif">
        <form method="POST" action="/signup">
            <div class="form-box">
                <input type="text" name="fullname" placeholder="Full Name" maxlength="50" required>
            </div>
            <div class="form-box">
                <input type="text" name="username" placeholder="Username" maxlength="12" required>
            </div>
            <div class="form-box">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-box">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-box">
                <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
            </div>
            <br/>
            <p>
                Please select a Parrot Avatar:
            </p>
            <div class="form-box icon-selctor">
                <input type="radio" name="image" value="bunnyparrot" id="1" required/><label for="1"><img src="img/avatar/bunnyparrot.png"></label>
                <input type="radio" name="image" value="christmasparrot" id="2"/><label for="2"><img src="img/avatar/christmasparrot.png"></label>
                <input type="radio" name="image" value="coolparrot" id="3"/><label for="3"><img src="img/avatar/coolparrot.png"></label>
                <input type="radio" name="image" value="gentlemanparrot" id="4"/><label for="4"><img src="img/avatar/gentlemanparrot.png"></label>
                <input type="radio" name="image" value="jediparrot" id="5"/><label for="5"><img src="img/avatar/jediparrot.png"></label>
                <input type="radio" name="image" value="mardigrasparrot" id="6"/><label for="6"><img src="img/avatar/mardigrasparrot.png"></label>
                <input type="radio" name="image" value="mustacheparrot" id="7"/><label for="7"><img src="img/avatar/mustacheparrot.png"></label>
                <input type="radio" name="image" value="poopparrot" id="8"/><label for="8"><img src="img/avatar/poopparrot.png"></label>
                <input type="radio" name="image" value="popcornparrot" id="9"/><label for="9"><img src="img/avatar/popcornparrot.png"></label>
                <input type="radio" name="image" value="sadparrot" id="10"/><label for="10"><img src="img/avatar/sadparrot.png"></label>
            </div>
            <div class="register-login">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</body>

</html>