<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Parrot Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <link rel="manifest" href="/manifest.json">
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/moment.min.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <div id="grid">
        <header>
            <div id="icon"><a href="/"><img src="img/logo.gif" /></a></div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/user">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <div id="profile">
            <img id="profile-pic" src="">
        </div>
        <!--<aside>
            <ul>
                <li>Add Friend</li>
                <li>Option 2</li>
                <li>Option 3</li>
                <li>Option 4</li>
            </ul>
        </aside>-->
        <main>
            <h1 id="profile-name"></h1>
            <div>
                <button id="follow" style="display:none">Follow</button>
                <button id="unfollow" style="display:none" class="orange">Unfollow</button>
            </div>
            <div class="post">
                <form method="POST" action="/api/posts">
                    <input type="text" name="message" placeholder="New Post" maxlength="140" required>
                    <button name="add-post">+</button>
                </form>
            </div>
            <div class="all-posts">
            </div>
        </main>
    </div>
</body>

</html>
