<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Parrot Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="scripts/jquery.min.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <div id="grid">
        <header>
            <div id="icon"><img src="img/logo.gif" /></div>
            <nav>
                <ul>
                    <li><a href="feed.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                </ul>
            </nav>
        </header>
        <div id="profile">
            <img src="img/party-parrot.gif">
        </div>
        <aside>
            <ul>
                <li>Add Friend</li>
                <li>Option 2</li>
                <li>Option 3</li>
                <li>Option 4</li>
            </ul>
        </aside>
        <main>
            <div class="post">
                <form method="POST" action="/posts">
                    <input type="text" name="message" placeholder="New Post">
                    <button type="submit">+</button>
                </form>
            </div>
        </main>
    </div>
</body>

</html>