body {
    margin: 0px;
    font-family: "Segoe UI", arial, sans-serif;
    background-color: #e1e8f0;
}

::-webkit-scrollbar {
    width: 0px;
    visibility: hidden;
}

header img {
    width: 140px;
}

#icon {
    width: 200px;
    text-align: left;
}

nav {
    width: 460px;
}

#icon, nav {
    display: inline-block;
}

.valign, #icon, nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

body * {
    margin: 0px;
    vertical-align: top;
}

#grid {
    /* GRID */
    display: grid;
    grid-template-columns: calc(50vw - 350px) 200px 460px calc(50vw - 350px);
    grid-template-rows: 10vh 200px calc(90vh - 250px);
    grid-gap: 20px;
}

header {
    color: white;
    background-color: #57585d;
    grid-column-start: 1;
    grid-column-end: 5;
}

#profile {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#profile img {
    width: 200px;
    height: 200px;
}

aside, main, #profile {
    background-color: white;
    text-align: left;
}

aside {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

main {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 15px;
}

ul {
    padding-inline-start: 0px;
}

nav ul {
    text-align: right;
}

nav li {
    text-decoration: none;
    display: inline-block;
    padding: 25px;
    text-transform: uppercase;
    transition: 200ms;
}

nav li:hover {
    color: #6ed3cf;
    transition: 200ms;
}

aside li {
    padding: 20px 20px 20px 40px;
    list-style-type: none;
}

/* -------------- LOGIN ------------------ */

body > div {
    text-align: center;
}

.full-height {
    height: 100vh;
}

.full-height * {
    margin: 5px;
}

.full-height img {
    margin-bottom: 30px;
}

input {
    padding: 10px;
    padding-top: 20px;
    width: 300px;
    background-color: rgba(0,0,0,0);
    border: 0px;
    border-bottom: 2px #6ed3cf solid;
}

input:focus, button:focus {
    outline: none;
}

input::placeholder {
    transition: 200ms;
}

input:focus::placeholder {
    color: #6ed3cf;
    transition: 200ms;
    transform-origin: left;
    transform: translateX(-10px) translateY(-20px) scale(0.9);
    visibility: visible;
}

button {
    padding: 13px 20px;
    text-transform: uppercase;
    color: #e1e8f0;
    background-color: #9068be;
    border: 0px;
    border-radius: 6%;
    transition: 500ms;
}

button.blank {
    color: #9068be;
    background-color: #e1e8f0;
    padding: 11px 20px;
    border: 2px #9068be solid;
    transition: 500ms;
}

button:hover {
    transform: scale(1.05);
    transition: 500ms;
}

/* ----------- INPUT FEED ------------- */

.post {
    vertical-align: middle;
}

.post input, .post button {
    display: inline-block;
    margin: 5px;
}

.post input {
    width: calc(100% - 100px);
}

.post button {
    border-radius: 50%;
    width: 45px;
    height:45px;
    padding: 5px;
}

/* Y U NO WORK */
.post-header {
    vertical-align: middle;
}

.post-block {
    border-bottom: 1px #57585d solid;
}

.post-block img {
    width: 50px;
}

.post-block img, .post-header {
    margin: 10px;
}

.post-header {
    margin-left: 0px;
}

.post-block img, .post-content, .post-content p {
    display: inline-block;
}

.post-username, .dot, .post-time {
    color: #57585d;
    font-size: 0.9em;
}

.post-gifs {
    display: block;
    background-color: burlywood;
    margin-bottom: 20px;
    width: 250px;
    height: 150px;
}

/* --------- MEDIA QURIES ------------ */

@media only screen and (max-width: 700px) {
    #grid {
        grid-template-columns: 15px calc(100vw - 80px) 10px;
        grid-template-rows: 10vh 90vh;
        grid-gap: 0px;
    }
    
    #icon img {
        display: none;
    }
    
    #profile {
        text-align: center;
    }
    
    nav {
        width: calc(100vw - 80px);
        text-align: center;
        top: 17px;
        left: -13px;
    }
    
    nav ul {
        text-align: center;
    }
    
    nav li {
        padding: 20px 14px;
    }
    
    aside {
        position: absolute;
        width: 75vw;
        height: 100vh;
        display: none;
    }
    
    /* Need to show */
    aside::before {
        content: '';
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 0px;
        left 0px;
    }
    
    main {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 5;
        overflow-y: scroll;
    }
    
    aside::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 75vw;
        width: 25vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);
        display: none;
    }
    
    .profile-feed {
        display: none;
    }
    
    .post {
        height: 0px;
    }
    
    .post input {
        display: none;
    }
    
    .post button {
        font-size: 1.5em;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
    }
}