body {
    margin: 0px;
    font-family: "Segoe UI", arial, sans-serif;
    background-color: #e1e8f0;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    visibility: hidden;
}

header img {
    width: 140px;
}

#icon {
    width: 200px;
    text-align: left;
}

nav {
    width: 460px;
}

#icon,
nav {
    display: inline-block;
}

.valign,
#icon,
nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

body * {
    margin: 0px;
    vertical-align: top;
}

#grid {
    /* GRID */
    display: grid;
    grid-template-columns: calc(50vw - 350px) 200px 460px calc(50vw - 350px);
    grid-template-rows: 10vh 200px calc(90vh - 250px);
    grid-gap: 20px;
}

header {
    color: white;
    background-color: #57585d;
    grid-column-start: 1;
    grid-column-end: 5;
}

#profile {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}


/* Remove left column on feed page */

.profile-feed,
.profile-feed + aside {
    display: none;
}

.main-feed {
    grid-column-start: 2;
}

#profile img {
    width: 200px;
    height: 200px;
}

aside,
main,
#profile {
    background-color: white;
    text-align: left;
}

aside {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

main {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 15px;
    overflow-y: scroll;
}

ul {
    padding-inline-start: 0px;
}

nav ul {
    text-align: right;
}

nav li {
    text-decoration: none;
    display: inline-block;
    padding: 25px;
    text-transform: uppercase;
    transition: 200ms;
}

nav li a {
    color: white;
}

nav li:hover {
    color: #6ed3cf;
    transition: 200ms;
}

aside li {
    padding: 20px 20px 20px 40px;
    list-style-type: none;
}


/* -------------- LOGIN ------------------ */

body > div {
    text-align: center;
}

.full-height {
    height: 100vh;
    overflow-y: scroll;
}

.full-height * {
    margin: 5px;
}

.full-height img {
    margin-bottom: 30px;
}

input {
    padding: 10px;
    padding-top: 20px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-bottom: 2px #6ed3cf solid;
}

input:focus,
button:focus {
    outline: none;
}

input::placeholder {
    transition: 200ms;
}

input:focus::placeholder {
    color: #6ed3cf;
    transition: 200ms;
    transform-origin: left;
    transform: translateX(-10px) translateY(-20px) scale(0.9);
    visibility: visible;
}

button {
    padding: 13px 20px;
    text-transform: uppercase;
    color: white;
    background-color: #9068be;
    border: 0px;
    border-radius: 6%;
    transition: 500ms;
}

button.blank {
    color: #9068be;
    background-color: white;
    padding: 11px 20px;
    border: 2px #9068be solid;
    transition: 500ms;
}

button:hover {
    transform: scale(1.05);
    transition: 500ms;
}


/* ----------- INPUT FEED ------------- */

.post {
    vertical-align: middle;
}

.post input,
.post button {
    display: inline-block;
    margin: 5px;
}

.post input {
    width: calc(100% - 100px);
}

.post button {
    font-size: 1.7em;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 5px;
}


/* Y U NO WORK */

.post-header {
    vertical-align: middle;
}

.post-block {
    border-bottom: 1px #57585d solid;
}

.post-block img {
    width: 50px;
}

.post-block img,
.post-header {
    margin: 10px;
}

.post-header {
    margin-left: 0px;
}

.post-block img,
.post-content,
.post-content p {
    display: inline-block;
}

.post-username,
.dot,
.post-time {
    color: #57585d;
    font-size: 0.9em;
}

.post-gifs {
    display: block;
    margin-bottom: 20px;
    max-width: 550px;
}

.post-gifs img {
    margin: 0;
    width: 40px;
    padding: 0;
}


/*  ----------- REGISTER ICONS --------- */

.icon-selctor {
    margin: 0 auto;
    width: 300px;
}

input[type=radio] {
    display: none;
}

input[type=radio] + label img {
    width: 39px;
    position: relative;
    left: -4px;
    top: -4.5px;
}

input[type=radio] + label {
/*    background: #999;*/
    height: 40px;
    width: 40px;
    display: inline-block;
    padding: 0px;
    border: 2px rgba(0,0,0,0) solid;
    transition: 200ms;
}

input[type=radio]:hover + label {
    border: 2px #6ed3cf solid;
    transform: scale(1.05);
    transition: 200ms;
}

input[type=radio]:checked + label {
    border: 2px #6ed3cf solid;
    filter: brightness(0.6);
}


/* --------- MEDIA QURIES ------------ */

@media only screen and (max-width: 700px) {
    .post-gifs {
        max-width: 70vw;
    }
    body {
        background-color: white;
        overflow-y: scroll;
    }
    #grid {
        grid-template-columns: 15px calc(100vw - 80px) 10px;
        grid-template-rows: 10vh 90vh;
        grid-gap: 0px;
    }
    #icon img {
        display: none;
    }
    #profile {
        text-align: center;
    }
    header {
        position: fixed;
        height: 70px;
    }
    header::before {
        content: url('img/small_icon.gif');
        display: block;
/*        background-color: aqua;*/
        position: absolute;
        top: 15px;
        left: 20px;
        width: 25px;
        height: 25px;
    }
    nav {
        width: 100vw;
        text-align: center;
        top: 13px;
    }
    nav ul {
        text-align: center;
    }
    nav li {
        padding: 20px 14px;
    }
    aside {
        position: absolute;
        width: 75vw;
        height: 100vh;
        display: none;
    }
    /* Need to show */
    aside::before {
        content: '';
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 0px;
        left 0px;
    }
    main {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    aside::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 75vw;
        width: 25vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
    }
    .profile-feed {
        display: none;
    }
    .post {
        background-color: white;
        position: fixed;
        padding-top: 6px;
        width: 95vw;
        height: 70px;
        bottom: -10px;
        margin-left: -20px;
    }
}